<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT productsBase ANY>
<!ATTLIST productsBase id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT category ANY>
<!ATTLIST category id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT productsContainer ANY>
<!ATTLIST productsContainer id ID #REQUIRED>
<!ELEMENT categoryContainer ANY>
<!ATTLIST categoryContainer id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT hero ANY>
<!ATTLIST hero id ID #REQUIRED>
<!ELEMENT seo ANY>
<!ATTLIST seo id ID #REQUIRED>
]>
<root id="-1">
  <home id="1077" key="3926ef59-679c-44a4-aa67-169d1657d9f5" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-04-25T11:16:50" updateDate="2018-04-30T15:17:33" nodeName="Webshop" urlName="webshop" path="-1,1077" isDoc="" nodeType="1066" creatorName="Ion Toporan" writerName="Ion Toporan" writerID="0" template="1065" nodeTypeAlias="home" isPublished="true">
    <headline><![CDATA[Welcome to our webshop]]></headline>
    <bodyText><![CDATA[<p>Lorem ipsum dolor sit amet, sed ad ancillae adipiscing, at viris lobortis adolescens nec. Qui ad doming aliquando suscipiantur, pro eu modo atqui gloriatur. Vel omnesque petentium repudiandae te. Inani impedit dolores te duo. Viris audire inimicus mel et, mei putent accumsan cu. In aperiri maiorum vis, fugit munere aperiri ex quo.</p>
<p>Cum lobortis similique constituto an. Usu movet theophrastus at, usu mucius scriptorem at. Vim ei putent propriae. Et impetus vivendum per, te per dolorem assueverit.</p>
<p>Eum putant oportere in, at sea animal deleniti concludaturque, commodo expetendis sententiae ad pri. Integre delectus mediocrem ad ius, probo consul tincidunt ad vel. Mel no hinc interesset, quo ne dicta periculis. Quidam forensibus nam ne, populo integre definitiones te cum, ius adhuc denique perfecto cu.</p>
<p>No quo agam meis, per ea omnium appareat. Quo cu idque ponderum. Est nobis cetero imperdiet ne, persius detraxit has et. Deleniti oporteat expetenda te sed, ei sit dicam insolens. In nusquam omnesque pri, erant ornatus duo eu, an sed adipisci conceptam.</p>
<p>Vix ad mutat oporteat. Eu volutpat explicari posidonium sed. Sit persius elaboraret intellegebat no, et omnis everti intellegebat nam. Cu illud erant qui, cum ne tota consul, vel et vide movet solet. Eam ei quas eirmod.</p>]]></bodyText>
    <heroText><![CDATA[Lorem ipsum dolor sit amet, sed ad ancillae adipiscing, at viris lobortis adolescens nec. Qui ad doming aliquando suscipiantur, pro eu modo atqui gloriatur. Vel omnesque petentium repudiandae te. Inani impedit dolores te duo. Viris audire inimicus mel et, mei putent accumsan cu. In aperiri maiorum vis, fugit munere aperiri ex quo.

Cum lobortis similique constituto an. Usu movet theophrastus at, usu mucius scriptorem at. Vim ei putent propriae. Et impetus vivendum per, te per dolorem assueverit.

Eum putant oportere in, at sea animal deleniti concludaturque, commodo expetendis sententiae ad pri. Integre delectus mediocrem ad ius, probo consul tincidunt ad vel. Mel no hinc interesset, quo ne dicta periculis. Quidam forensibus nam ne, populo integre definitiones te cum, ius adhuc denique perfecto cu.

No quo agam meis, per ea omnium appareat. Quo cu idque ponderum. Est nobis cetero imperdiet ne, persius detraxit has et. Deleniti oporteat expetenda te sed, ei sit dicam insolens. In nusquam omnesque pri, erant ornatus duo eu, an sed adipisci conceptam.

Vix ad mutat oporteat. Eu volutpat explicari posidonium sed. Sit persius elaboraret intellegebat no, et omnis everti intellegebat nam. Cu illud erant qui, cum ne tota consul, vel et vide movet solet. Eam ei quas eirmod.]]></heroText>
    <heroImage><![CDATA[umb://media/970a1db2b8a34270989f7f5c425a6e65]]></heroImage>
    <metaTitle><![CDATA[Welcome]]></metaTitle>
    <metaDescription><![CDATA[This is the webshop]]></metaDescription>
    <noIndex>0</noIndex>
    <featuredProducts><![CDATA[umb://document/fff8d71e2741476bb5098ab6af6a311d,umb://document/4b93943437744159b0fecf8c163284f8,umb://document/46ea3aef188a48d59a290b6d864a2cf0]]></featuredProducts>
    <categoryContainer id="1078" key="5a4cfcdf-2fb9-4fa0-9205-664e6fa7a680" parentID="1077" level="2" creatorID="0" sortOrder="0" createDate="2018-04-25T11:17:16" updateDate="2018-04-30T15:17:33" nodeName="Categories" urlName="categories" path="-1,1077,1078" isDoc="" nodeType="1076" creatorName="Ion Toporan" writerName="Ion Toporan" writerID="0" template="1075" nodeTypeAlias="categoryContainer" isPublished="true">
      <category id="1082" key="aecab518-38b8-4569-b06c-7474f45ec340" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2018-04-25T11:19:32" updateDate="2018-04-30T15:17:33" nodeName="Category 1" urlName="category-1" path="-1,1077,1078,1082" isDoc="" nodeType="1068" creatorName="Ion Toporan" writerName="Ion Toporan" writerID="0" template="1067" nodeTypeAlias="category" isPublished="true">
        <pName><![CDATA[Category 1]]></pName>
        <products><![CDATA[umb://document/fff8d71e2741476bb5098ab6af6a311d,umb://document/4b93943437744159b0fecf8c163284f8]]></products>
      </category>
    </categoryContainer>
    <productsContainer id="1079" key="e8377c59-98fd-492c-a85d-9fa176b023df" parentID="1077" level="2" creatorID="0" sortOrder="1" createDate="2018-04-25T11:17:29" updateDate="2018-04-30T15:17:33" nodeName="Products" urlName="products" path="-1,1077,1079" isDoc="" nodeType="1074" creatorName="Ion Toporan" writerName="Ion Toporan" writerID="0" template="1073" nodeTypeAlias="productsContainer" isPublished="true">
      <product id="1080" key="fff8d71e-2741-476b-b509-8ab6af6a311d" parentID="1079" level="3" creatorID="0" sortOrder="0" createDate="2018-04-25T11:17:53" updateDate="2018-04-30T15:17:33" nodeName="Product 1" urlName="product-1" path="-1,1077,1079,1080" isDoc="" nodeType="1070" creatorName="Ion Toporan" writerName="Ion Toporan" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
        <pName><![CDATA[Product 1]]></pName>
      </product>
      <product id="1081" key="4b939434-3774-4159-b0fe-cf8c163284f8" parentID="1079" level="3" creatorID="0" sortOrder="1" createDate="2018-04-25T11:18:07" updateDate="2018-04-30T15:17:33" nodeName="Product 1 (1)" urlName="product-1-1" path="-1,1077,1079,1081" isDoc="" nodeType="1070" creatorName="Ion Toporan" writerName="Ion Toporan" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
        <pName><![CDATA[Product 1]]></pName>
      </product>
      <product id="1095" key="46ea3aef-188a-48d5-9a29-0b6d864a2cf0" parentID="1079" level="3" creatorID="0" sortOrder="2" createDate="2018-04-30T14:26:45" updateDate="2018-04-30T15:17:33" nodeName="Product 4" urlName="product-4" path="-1,1077,1079,1095" isDoc="" nodeType="1070" creatorName="Ion Toporan" writerName="Ion Toporan" writerID="0" template="1069" nodeTypeAlias="product" isPublished="true">
        <pName><![CDATA[Product 4]]></pName>
        <noIndex>0</noIndex>
      </product>
    </productsContainer>
  </home>
</root>